:root{
    font-family: "Segoe UI";
}

main{
    padding: 0 5vw;
}

body{
    max-height: 100vh;
}

nav h2{
    color: white;
}

header{
    background: black;
    width: 50vw;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2vh;
    height: 6.75vh;
    border-radius: 15px;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    transform: translateX(33vw) translateY(-6vh);
}

nav{
    transform: translateY(1vh);
}

nav ul a{
    text-decoration: none;
    color: white;
    transition: all .25s ease;
}

nav ul a:hover{
    color: rgba(255, 255, 255, 0.75);
}

#current-page{
    color: rgba(255, 255, 255, 0.75);
}

footer{
    position: absolute;
    bottom: 0;
    padding-left: 2vw;
    padding-right: 2vw;
}

footer p{
    color: rgba(0, 0, 0, 0.75);
}

fieldset{
    padding: 20px 30px;
    width: fit-content;
    border-radius: 12px;
}

legend{
    font-weight: bold;
}

.bold{
    font-weight: bold;
    font-size: 1.05em;
}

#operations input{
    padding: 15px 15px;
    width: 320px;
    border-radius: 12px;
    border: none;
    background: rgba(0, 0, 0, 0.075);
}

#operations input:focus{
    outline: none;
}

#account{
    border: 1px solid gray;
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 20px 0 20px 0;
}

#action-btns{
    position: absolute;
    top: 50%;
    right: 35%;
}

.action-btn{
    padding: 15px 10px;
    width: 10vw;
    border-radius: 7.5px;
    border: none;
    color: white;
    cursor: pointer;
}

#delete-btn{
    background: darkred;
}

#delete-btn:hover{
    background: rgb(162, 1, 1);
}

#create-btn{
    background: rgba(0, 0, 0, 0.65);
}

#create-btn:hover{
    background: rgb(104, 104, 104);
}

.submit-btn{
    position: relative;
    z-index: 1000;
    right: 15.35%;
    padding: 7.5px 12px;
    background: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all .25s ease;
}

.submit-btn:hover{
    background: rgba(0, 0, 0, 0.8);
}

#withdraw-btn{
    transform: translateX(-13%);
}

hr{
    width: 95vw;
}
