:root{
    font-family: "Segoe UI";
}

main{
    padding: 0 20px;
}

body{
    height: 100vh;
}

nav h2{
    color: white;
}

header{
    background: black;
    width: 50vw;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2vh;
    height: 6.75vh;
    border-radius: 15px;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    transform: translateX(33vw) translateY(-6vh);
}

nav{
    transform: translateY(1vh);
}

nav ul a{
    text-decoration: none;
    color: white;
    transition: all .25s ease;
}

nav ul a:hover{
    color: rgba(255, 255, 255, 0.75);
}

#current-page{
    color: rgba(255, 255, 255, 0.75);
}

footer{
    transform: translateY(8vh);
    padding-left: 2vw;
    padding-right: 2vw;
}

footer p{
    color: rgba(0, 0, 0, 0.75);
}

fieldset{
    padding: 20px 30px;
    width: fit-content;
}

legend{
    font-weight: bold;
}

.bold{
    font-weight: bold;
    font-size: 1.05em;
}

#operations input{
    padding: 10px 15px;
    width: 300px;
}
