:root{
    font-family: "Segoe UI";
}

body{
    height: 100vh;
}

nav h2{
    color: white;
}

header{
    background: black;
    width: 50vw;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    padding-top: 2vh;
    height: 6.75vh;
    border-radius: 15px;
}

nav ul{
    list-style-type: none;
    display: flex;
    gap: 20px;
    transform: translateX(33vw) translateY(-6vh);
}

nav{
    transform: translateY(1vh);
}

nav ul a{
    text-decoration: none;
    color: white;
    transition: all .25s ease;
}

nav ul a:hover{
    color: rgba(255, 255, 255, 0.75);
}

main{
    margin: 7vh 0 5vh 0;
}

#heading{
    text-align: center;
}

#subheading{
    color: rgb(83, 83, 83);
    text-align: center;
    transform: translateY(-1vh);
}

#action-h{
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}

#actions{
    width: 600px;
    padding: 2vh 4vw 2vh 2vw;
    margin: 0 auto 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.action{
    border: 1.5px solid gray;
    border-radius: 7.5px;
    cursor: pointer;
    padding: .5vh 1.2vw;
    width: 10vw;
    transition: all .25s ease;
}

.action:hover{
    box-shadow: 0 0 2.5px;
    border-width: 1px;
    transform: translateY(-0.5vh);
}

#action-btns{
    text-align: center;
    margin-top: 3vh;
    transition: all .25s ease;
}

.action-btn{
    padding: 15px 10px;
    width: 10vw;
    border-radius: 7.5px;
    border: none;
    color: white;
    cursor: pointer;
}

#delete-btn{
    background: darkred;
}

#delete-btn:hover{
    background: rgb(162, 1, 1);
}

#create-btn{
    background: rgba(0, 0, 0, 0.65);
}

#create-btn:hover{
    background: rgb(104, 104, 104);
}

.sub-action{
    font-size: .85em;
}

footer{
    transform: translateY(8vh);
    padding-left: 2vw;
    padding-right: 2vw;
}

footer p{
    color: rgba(0, 0, 0, 0.75);
}