<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login -PyBank</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div id="login-card">
        <div>
            <h1 id="heading">Login to PyBank</h1>
        </div>
        <br>
        <form action="/auth" method="POST">
            <div id="creds">
                <div id="username">
                    &nbsp;<label for="username">Username</label>
                    <br>
                    <input type="text" id="username" placeholder="John Doe" name="username" required>
                </div>
                <br>
                <div id="password">
                    &nbsp;<label for="password">Password</label><br>
                    <input type="password" id="password" placeholder="********" name="password" required>
                </div>
                <br>
                <button type="submit">Login</button>
                <p><span id="invalid">{{ failed_msg }}</span></p>
                <p id="register">Don't have an account yet? <a href="register.html">Register</a> now</p>
            </div>
        </form>
    </div>
</body>
</html>